@import '../../../../const/const.styl'

.Page
    font-size $fontSize
    font-family: Arial, sans-serif
    color: $textColor
    if $platform == 'mobile'
        max-width: 600px
        overflow: hidden
