@import '../../../../const/const.styl'

.Phone
    display: flex
    flex-direction: column
    align-items: baseline
    &__model
        display: block
        margin-bottom: 6px
        text-decoration: none
    &__price
        font-size: 20px
        margin-bottom: 6px
    &__photo
        margin-bottom: 8px
