@import '../../../../const/const.styl';

.Phone
    margin-bottom: 20px
    &__photo
        display: block
        margin-bottom: 8px
    &__model
        display: block
        margin-bottom: 8px
        font-size: 14px
    &__price
        display: block
        font-size: 20px
        font-weight: bolder
