@import '../../../../const/const.styl'

.Button
    border: none
    padding: 10px 15px
    background: #ffdb4d
    color: #2b2b2b
    font: 13px 'Helvetica Neue', sans-serif
    border-radius: 2px
    cursor: pointer
    &_state_disabled
        background: #ddd
        color: #777
        &:hover
            background: #ddd
