$textColor = #000
$fontSize = 15px
$linkColor = #02c
$transition = all 200ms ease-in-out
$tassBlue = #1a237e
$buttonShadow = 0px 5px 5px rgba(0,0,0,.2)

if ($platform == 'mobile')
    $font-size = 18px
    $textColor = #444
    $linkColor = #04b

if ($platform == 'tablet')
    $font-size = 20px
    $textColor = #333
