@import '../../../../const/const.styl'

.Hotel
    &__photo
        width: 100%
        background-size: cover
        margin-bottom: 4px
        &::after
            content: ''
            display: block
            padding-bottom: (100/3*2)%
    &__name
        display: block
        margin-bottom: 4px
        text-decoration: none
        line-height 1.3em
